<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
  <add
   name="cs3" 
   connectionString="Data Source=CRJ03;Initial Catalog=Pharmacie;User ID=sa;Password=123456; "
   providerName="System.Data.SqlClient"
   />
    <add
  name="cs2"
  connectionString="Data Source=CRJ03;Initial Catalog=Pharmacie;User ID=sa;Password=123456; "
  providerName="System.Data.SqlClient"
   />
    <add
  name="cs1"
  connectionString="Data Source=CRJ03;Initial Catalog=pharmacie;User ID=sa;Password=123456; "
  providerName="System.Data.SqlClient"
   />
</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>